table {
width: 100%;
border-collapse: collapse;
vertical-align: bottom;
}

th, td {
  padding: 15px;
  text-align: center;
  font-family: Poppins;
  line-height: 1.5;
  color: #a0a0a0;
  font-size: 14px;
}
 
.storefrontp {
  text-align: center; 
  font-family: Poppins; 
  font-style: normal; 
  line-height: 1.5; 
  width:100%; 
  max-width:850px; 
  margin: 0 auto 30px; 
  text-align:center; 
  color:#a0a0a0; 
  font-size:14px; 
  font-weight: 400;
  }
  .storefront-heading4 {
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.4;
    color: #adadad;
    font-size: 20px;
    margin-top: 30px;
    font-family: Poppins;
  }
  .storefront-heading3 {
    text-transform: uppercase;
    font-family: Poppins;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #1d83ba;
    font-weight: 600;
    font-size: 36px;
  }
.ti-button {
	font-size: 16px;
	background-color: #0E7EC1;
	width: 60%;
	max-width: 100%;
	color: white !important;
	border-radius: 1px;
	border: 2px solid;
	border-color: #CCDAE3;
	padding: 12px 15px;
	margin: 10px 0px;
	transition: 0.6s;
}
.ti-button:hover {
	background-color: #CCDAE3;
	color: white !important;
	border-radius: 1px;
}